@tailwind base;

@tailwind components;

@tailwind utilities;


.destacadas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(1rem, auto));
  grid-gap: 1rem;
}
@media (min-width: 1024px){
  .destacadas {
    grid-template-columns: 9fr 3fr;
    grid-template-rows: repeat(2, minmax(1rem, auto));
  }
}
.destacadas__principal {
  grid-column-start: 1;
}
.destacadas__secundarias {
  grid-column-start: 1;
}
@media (min-width: 1024px){
  .destacadas__secundarias {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
.destacadas__ultimas {
  grid-column-start: 1;
  grid-row-start: 3;
}
@media (min-width: 1024px){
  .destacadas__ultimas {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.destacadas__principal__imagen {
  position: relative;
  z-index: 0;
}
.destacadas__principal__informacion__cabecera {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


.destacadas__principal__informacion__cuerpo {
  position: relative;
}
@media (min-width: 768px){
  .destacadas__principal__informacion {
    position: relative;
  }
  .destacadas__principal__informacion__cuerpo {
    position: absolute;
    left: -15%;
    z-index: 5;
  }
}

.noticia__imagen {
  position: relative;
  z-index: 0;
}
.noticia__informacion__cabecera {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}



/* TIMELINE */
.timeline ul {
  list-style: none;
  position: relative;
}

.timeline ul:before {
  content: "";
  width: 4px;
  height: 90%;
  position: absolute;
  border-left: 4px solid #2B6CB0;
}

.timeline ul li {
  position: relative;
}


.timeline ul li>span {
  width: 4px;
  height: 100%;
  background: #2B6CB0;
  top: 0;
  position: absolute;
}

.timeline ul li>span:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #2B6CB0;
  position: absolute;
  background: #fff;
  left: -8px;
  top: 0;
}

.timeline div>div {
  margin-top: 1rem;
}


.ultimas__noticia__imagen {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
}